/* Other rules */
body {
  background-color: #eff1f3;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
}
h1 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 8vh;
  color: #223843;
}
form,
.matchingMail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  margin-bottom: 50px;
}
input {
  display: inline-block;
  padding: 12px;
  border-radius: 20px;
  background-color: #eff1f3;
  outline: inherit;
  border: 1px solid #223843;
  cursor: pointer;
}
p {
  padding: 10px;
  font-style: italic;
  color: #223843;
}
.connect {
  margin-top: 3vh;
  font-size: 14px;
  font-weight: 700;
  color: #223843;
}
.connect:hover {
  color: #d0d6dc;
  background-color: #56876d;
}

.button {
  display: inline-block;
  padding: 12px;
  border-radius: 20px;
  background-color: #eff1f3;
  outline: inherit;
  border: 1px solid #223843;
  cursor: pointer;
  margin-top: 3vh;
  font-size: 14px;
  font-weight: 700;
  color: #223843;
}
.button:hover {
  color: #d0d6dc;
  background-color: #56876d;
}

.footer {
  text-align: center;
  font-size: 12px;
  height: 8vh;
  line-height: 8vh;
  color: rgb(28, 38, 36);
  font-weight: 700px;
}
span {
  font-style: bold;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
span:hover {
  color: #56876d;
  cursor: pointer;
}
